body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f8f9fa;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
.gold-rate-display {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-left: 5px;
}
.form-group label span {
    color: red;
}
.form-group input  {
    width: 94%;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group select  {
    width: 98%;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover {
    background: #0056b3;
}
.result {
    margin-top: 20px;
    padding: 15px;
    background: #e9f7ef;
    border-left: 5px solid #28a745;
    font-weight: bold;
}